@model CarouselItem

<form asp-action="@ViewBag.ActionMethod" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    @{
        if (ViewBag.ActionMethod == "Edit")
        { 
            <input type="hidden" asp-for="@Model.ID" class="form-control">
        }
    }
    <div class="form-group">
        <label asp-for="@Model.Image">Image Source</label>
        <input id="fileupload" asp-for="@Model.Image" class="form-control-file" placeholder="Insert Image">
        <span asp-validation-for="@Model.Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ImageAlt">Image Alt</label>
        <input asp-for="@Model.ImageAlt" class="form-control" placeholder="Enter Image Alt">
        <span asp-validation-for="@Model.ImageAlt" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>